.txt,table
{
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    border-spacing:0;
    border-collapse: separate;
    margin:0 auto;
    text-align:center;
    vertical-align: middle;
    /*width: 100%;*/
    /*height: 100%;*/
    /*table-layout : fixed;*/
    /*word-wrap : break-word;*/
    }

/* .seat
{
    border:1px black solid;
    width: 100%;
    height: 100%;
}*/

.txt
{
    margin-bottom:20px;
}

tr,td
{
    border:1px black solid;
    width:25px;
    height:35px;
}

.none-rl
{
    border-left: none;
    border-right: none;
}

.none-trl
{
    border-top: none;
    border-right: none;
    border-left: none;
}
.none-rlb
{
    border-right: none;
    border-left: none;
    border-bottom: none;
}

.none-tb
{
    border-top: none;
    border-bottom: none;
}

.none-t
{
    border-top: none;
}

.none-rb
{
    border-right: none;
    border-bottom: none;
}
.none-trb
{
    border-top: none;
    border-right: none;
    border-bottom: none;
}
.none-tr
{
    border-top: none;
    border-right: none;
}

.none-l
{
    border-left: none;
}