.txt,table
{
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    text-align:center;
    border-spacing:0;
    border-collapse: collapse;
    margin:0 auto;
    vertical-align: middle;
    width: 100%;
}

.seat
{
    vertical-align: middle;
    margin:0 auto;
}

td
{
    border: 1px black solid;
    max-width: 50px;
    height: 40px;
    overflow:hidden;
}

.none-rl
{
    border-left: none;
    border-right: none;
}

.none-trl
{
    border-top: none;
    border-right: none;
    border-left: none;
}
.none-rlb
{
    border-right: none;
    border-left: none;
    border-bottom: none;
}

.none-tb
{
    border-top: none;
    border-bottom: none;
}

.none-t
{
    border-top: none;
}

.none-rb
{
    border-right: none;
    border-bottom: none;
}
.none-trb
{
    border-top: none;
    border-right: none;
    border-bottom: none;
}
.none-tr
{
    border-top: none;
    border-right: none;
}

.none-l
{
    border-left: none;
}